# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# coq
*.aux
*.d
*.glob
*.vio
*.vo
*.vok
*.vos
CoqMakefile.conf
Makefile.bak
Makefile.coq
Makefile.coq.conf
Makefile.coq.bak
Makefile-old.conf
csdp.cache
lia.cache
nlia.cache
nia.cache
nra.cache
.csdp.cache
.lia.cache
.nlia.cache
.nia.cache
.nra.cache
